@import url(bootstrap/css/bootstrap.css);
@import url(bootstrap/css/bootstrap-responsive.css);
@import url(prefs.css);

/** 
 * Add a theme.css with your custom overrides (fonts, colors, etc)
 * and uncomment the following import
 */
/*
@import url(theme.css);
*/

html {
  /* Always show a scrollbar, to prevent jumping content */
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Disable selection */
.nav,
.dropdown-toggle,
.dropdown-menu,
.btn,
.btn a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#userbar {
  margin-bottom: 0;
}
#userbar .navbar-inner {
  border-radius: 0;
  border-width: 0 0 1px;
}
#userbar .nav {
  cursor: pointer;
}
#userbar .navbar-search + .nav {
  margin-left: 10px;
}

/* Fix mediawiki radio & checkbox */
label {
  display: inline-block;
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 0;
}

input + label {
  margin-left: 0.5ex;
}

/* Hide separators if they're first in a menu */
.dropdown-menu .divider:first-child {
  display: none;
}

/* Slightly animate the dropdown-menus */
.dropdown-menu li > a {
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.dropdown-menu li > a:hover {
  -moz-transition: all 0.025s;
  -webkit-transition: all 0.025s;
  transition: all 0.025s;
}

/* Split a column in half */
@media (min-width: 480px) {
  .column-split {
    -moz-columns: 2 20px;
    -webkit-columns: 2 20px;
    columns: 2 20px;
    -moz-column-fill: balance;
    -webkit-column-fill: balance;
    column-fill: balance;
  }
}

/* Make the edit form larger */
#editform textarea,
#wpTextbox1
{
  width: 100%;
}

/* Hide the [] around edit */
.editsection {
  font-size: 0;
}
.editsection a {
  font-size: 14px;
}

/* Hide the printable footer */
.printfooter {
  display: none;
}

.align-right {
  text-align: right;
}

.row {
  margin-top: 30px;
}

.row + .row {
  margin-top: 40px;
}

/* Add some extra vertical spacing for phones */
@media (max-width: 767px) {
  [class*="span"] + [class*="span"] {
    clear: both;
    margin-top: 40px;
  }
}

/* Extra padding */
@media (min-width: 768px) {
  .pad-left-small,
  .pad-right-small,
  .pad-sides-small,
  .pad-left,
  .pad-right,
  .pad-sides {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .pad-left-small,
  .pad-sides-small {
    padding-left: 10px;
  }
  .pad-right-small,
  .pad-sides-small {
    padding-right: 10px;
  }
  .pad-left,
  .pad-sides {
    padding-left: 20px;
  }
  .pad-right,
  .pad-sides {
    padding-right: 20px;
  }
  .pad-left-small .column-split,
  .pad-right-small .column-split,
  .pad-sides-small .column-split {
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }
  .pad-left .column-split,
  .pad-right .column-split,
  .pad-sides .column-split {
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    column-gap: 40px;
  }
}
